version: "3.8"

services:
  frontend:
    build:
      context: .  
      dockerfile: Dockerfile
    container_name: binarykeeda-frontend
    ports:
      - "5173:5173"
    restart: unless-stopped
    env_file:
      - bk.conf

