@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg-primary: #ffffff; 
  --bg-secondary: #f1f1f1;
  --bg-support: #f8fafc;
}

.dark {
    --bg-primary: #1d1c20;
    --bg-secondary: #000000;
    --bg-support: #141414;
  }
 */

:root {
  --bg-primary: #ffffff;
  --text-primary: #010101;
  --bg-primary-hover: #f0f0f0;

  --bg-secondary: #f1f1f1;
  --bg-secondary-hover: #e0e0e0;

  --bg-support: #f8fafc;
  --bg-support-hover: #edf2f7;
}

.dark {
  --bg-primary: #09090b;
  --text-primary: #f1f1f1;
  --bg-primary-hover: #2a262e;

  --bg-secondary: #0f0f0f;
  --bg-secondary-hover: #1a1a1a;

  --bg-support: #18181b;
  --bg-support-hover: #1e1e1e;
}

@layer utilities {
  .bg-primary {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }

  .hover\:bg-primary-hover:hover {
    background-color: var(--bg-primary-hover);
  }

  .bg-secondary {
    background-color: var(--bg-secondary);
  }

  .hover\:bg-secondary-hover:hover {
    background-color: var(--bg-secondary-hover);
  }

  .bg-support {
    color: var(--text-primary);
    background-color: var(--bg-support);
  }

  .hover\:bg-support-hover:hover {
    background-color: var(--bg-support-hover);
  }
}

/* Utility classes */
.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-support {
  background-color: var(--bg-support);
}

* {
  /* transition:0.1s linear all; */
}
/* h1 {
  font-family: 'Roboto Condensed', sans-serif;
} */
.slick-slide div {
  padding: 10px;
}
body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
@layer utilities{
.bg-landingPage {
  background-color: white;
  @apply px-0 md:px-28 lg:px-12 xl:px-0;
}

  .bg-landingPage2{
    /* background: linear-gradient(to top left, #faf7f4, #f8f4f0, #f5f1ed); */
    background: white;
}
}

.loader1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gentle-float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}


.custominput {
  @apply w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300  focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow;
}

/* HTML: <div class="loader"></div> */
.spinner {
  width: 15px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

/* header css */
.nav-link {
  @apply text-sm cursor-pointer hover:text-orange-600 transition-all duration-100 ease-linear;
}
.dropdown-header {
  @apply absolute bg-support top-[60px]  py-3  border-0 border-t-2 border-orange-500 bg-white shadow-lg   min-w-[120px];
}
.dropdown-header {
  li {
    @apply pr-6;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-left {
    @apply transition-all duration-500 ease-in-out;
    animation: slideLeftIn 0.4s ease forwards;
  }

  @keyframes slideLeftIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


footer a:hover {
 text-decoration: underline; 
}



.spin-slow {
    animation: spin .7s linear infinite;
  }
.spin-fast {

    animation: spin 0.6s linear infinite reverse;
}

/* * {
  transition: all 0.5s linear;
} */

@layer utilities {
  @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }

  .animate-shine {
    animation: shine 2s infinite;
  }
}
.markdown-body p {
  margin: 4px 0 !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  margin: 6px 0 !important;
}

.markdown-body pre {
  margin: 6px 0 !important;
  padding: 6px !important;
}

.markdown-body ul,
.markdown-body ol {
  margin: 6px 0 !important;
  padding-left: 20px;
}
